﻿@using ControleDeMedicamentos.ConsoleApp.Models

@model CadastrarRequisicaoSaidaCompletaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro Completo de Requisição de Saída de Medicamentos";
}

<link rel="stylesheet" href="~/form.css" />

<style>
    span {
        font-size: 18px;
        margin-bottom: 10px;
    }
</style>

<form action="/requisicoes-medicamentos/saida/completar-cadastro" method="post">
    <h3>Seleção da Prescrição</h3>

    <input type="hidden" name="FuncionarioId" value="@Model.FuncionarioId" />
    <input type="hidden" name="NomeFuncionario" value="@Model.NomeFuncionario" />
    <input type="hidden" name="PacienteId" value="@Model.PacienteId" />
    <input type="hidden" name="NomePaciente" value="@Model.NomePaciente" />

    <label>Nome do Funcionário:</label>
    <span>@Model.NomeFuncionario</span>

    <label>Nome do Paciente:</label>
    <span>@Model.NomePaciente</span>

    <label for="prescricaoId">Prescrições Disponíveis para o Paciente:</label>
    <select name="prescricaoId" id="prescricaoId">
        @foreach (var p in Model.PrescricoesDisponiveis)
        {
            <option value="@p.Id">@p.ToString()</option>
        }
    </select>

    <div class="botoes-interacao">
        <a type="button" id="botaoVoltar" href="/requisicoes-medicamentos/saida/visualizar">Voltar</a>
        <button type="submit" id="botaoConfirmar">Confirmar</button>
    </div>
</form>