@using ControleDeMedicamentos.ConsoleApp.Models

@model PrescricaoVisualizacaoCompostaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Visualização de Prescrições";
}

<link rel="stylesheet" href="~/vform.css" />

<style>
    #botaoCadastrar {
    padding: 10px 20px;
    width: 220px;
    border: 1px solid var(--cor-principal);
    border-radius: 9px;
    background-color: var(--cor-principal);
    color: var(--cor-neutra);
    text-align: center;
    }

    .card {
    height: 400px;
    }

    .botoes-interacao {
    display: flex;
    gap: 5px;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
    }

    .botoes-interacao > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    border: 1px solid var(--cor-principal);
    border-radius: 9px;
    background-color: var(--cor-principal);
    color: var(--cor-neutra);
    cursor: pointer;
    font-size: 16px;
    }
</style>

<div class="cards-container">
    <a href="/prescricoes-medicas/cadastrar" class="card card-cadastrar" style="display: block; text-align: center; text-decoration: none;">
        <div style="font-size: 100px; margin-top: 20px; color: var(--cor-cadastrar)">+</div>
        <h3 style="margin: 0; padding: 0 0 40px 0; color: var(--cor-cadastrar)">Nova Prescrição</h3>
    </a>

    <div class="secao-cards">
        @foreach (var prescricao in Model.Prescricoes) {
            <div class="card">
                <div class="cabecalho-card">
                    <h3>@prescricao.DataPrescricao.ToShortDateString()</h3>
                </div>
                <p><strong>CRM do Médico:</strong> @prescricao.CRM</p>
                <p><strong>Paciente:</strong> @prescricao.Paciente</p>
                <p><strong>Medicamentos:</strong> @string.Join(", ", prescricao.MedicamentosPrescritos.Select(m => m.Nome))</p>
                @foreach (var med in prescricao.MedicamentosPrescritos) {
                    <p><strong>Dosagem:</strong> @med.Dosagem</p>
                    <p><strong>Período de Uso:</strong> @med.Periodo</p>
                }
            </div>
        }
</div>
</div>